@font-face {
    font-family: 'Geist';
    src: url('{% static "font/geist/Geist-Medium.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1a202c; /* Dark background */
    font-family: 'Geist', sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.quote {
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-content {
    max-height: 80vh; /* Set max height for modal content */
    overflow-y: auto; /* Enable vertical scroll */
}

.bg-custom {
    background-color: #FFD8BE; 
}
