{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary List</title>
</head>
<body>
    <div class="container mx-auto my-4">
        <h1 class="text-2xl font-bold">Your Itineraries</h1>
        <div id="itinerary-container" class="flex flex-wrap justify-center mt-4">
            <!-- Cards will be dynamically inserted here -->
        </div>
        
    </div>

</body>
</html>

