<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'geist.css' %}">
    <title>MlakuMlaku</title>

    <style>
        body, html {
            font-family: 'Geist';
            font-weight: 500;
            letter-spacing: -0.5px;
        }
    </style>
</head>
<body>
    <h2>Hello, everyone!</h2>
    <h2>Welcome to MlakuMlaku!</h2>
</body>
</html> -->